 @page {
      margin: 1cm;
      margin-bottom: 2.5cm;
      @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 0.1cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 1cm;
        text-align: right;
        border: 0px solid black;
      }

      @frame header {
        -pdf-frame-content: headerContent;
        top: 2cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 1cm;
        border: 1px solid black;
      }
    }

body{
	font-family: serif;
	font-size: 10pt;
}

.table tr th{
	border-bottom: 1px solid black;
}

.table tr td{
	vertical-align: middle;
	padding: 5px;
	text-align: left;
	border-top: 0px;
	border-bottom: 1px;
	border-right: 0px;
	border-style: solid;
	border-color: black;
}

.table tr td.variable{
	text-align: justify;
}

table tr td.id{
	text-align: center;
	border-left: 1px solid black;
	border-right: 0px;
}

.table tr td.valor{
	text-align: right;
	border-right: 1px solid black;
}

th{
	vertical-align: middle;
	padding: 5px;
}

table tfoot td.tfoot{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black
}

div.firma{
	text-align: right;
	border-color: black;
	border-top: 1px;
}

div.logo{
	float: right;
	text-align: right;
}
h1{
	text-transform: uppercase;
	text-align: center;
}

div.headerContent table tr{
	vertical-align: text-top;
	vertical-align: top;
	/*border-bottom: 1px solid black;*/
}

div.footerContent{
	text-align: right;
}

table{
	border-right: 0px;
}