{% extends "base.html" %}
<script type="text/javascript" src=""></script>
{% block titulo%}Gestión de Riesgos{% endblock titulo%}
{% block navbar %}{% endblock navbar%}
{% block navleft %}
{% for hoja in hojas %}
	{% if hoja.activa != 'Inactivo' %}
		<h1>Gestión de Riesgo</h1>
			<div class="span2 bs-docs-sidebar">
				<ul class="nav nav-tabs nav-stacked">
					
						<li><a href=""><span style="font-weight: bold;">Identificador:</span> {{ hoja.id }}</a></li>
						<li><a href=""><span style="font-weight: bold;">Descripción:</span> {{ hoja.descripcion }}</a></li>
						<li><a href=""><span style="font-weight: bold;">Fecha de publicación:</span> {{ hoja.fecha_public }}</a></li>
						<li><a href=""><span style="font-weight: bold;">Circuito:</span> 
							<ul>
								<li>{{hoja.circuito}}</li>
							</ul>
						</a></li>
						<li><a href=""><span style="font-weight: bold;">Circunscripción:</span> {{ hoja.circunscripcion }}</a></li>
				</ul>
			</div>
	{% else %}
			<p>lef</p>
	{% endif %}
{% endfor %}
{% endblock navleft %}

	{% block container %}
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Variable</th>
					<th>Indicador</th>
					<th colspan="3">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<form action="{{ encuesta_id }}" name="formvariables" method="POST">
					{% csrf_token %}
		{% for hoja in hojas%}
			{% for variable in hoja.circuito.variables.all %}
				<tr class="{{ variable.id }}">
					<td>{{ variable.id }}</td>
					<td>
						<span class='variable'>{{ variable.descripcion }}</span><br>
						<span class='observacion'>
							<input id='{{ variable.id }}observacion' name='{{ variable.id }}observacion' type='text'>
						</span>
					</td>
					<td>{{variable.indicador}}</td>
					<td>
						<label>SI
							<input type="radio" id="si{{ variable.id }}" name="{{ variable.id }}" value="0.0" checked class="si">
						</label>
					</td>
					<td>
						<label>
							NO
							<input type="radio" id="no{{ variable.id }}" name="{{ variable.id }}" class="no"value="{{ variable.valor |floatformat:-2 }}">
						</label>
					</td>
					<td>
						{% for variable_otro in variables.all %}
							
								{% if variable.id == variable_otro.variable_id and hoja.id == variable_otro.hoja_id 	%}
									<span class=''>
										<input type="text" style="width: 22px; margin-top:2px;" name="" readonly="readonly" value= "{{ variable_otro.valor }}">

									</span>
									<script type="text/javascript">
									$(document).on('ready', function() {
										if('{{ variable_otro.observacion }}' != 'None'){
											$('#{{ variable_otro.variable_id }}observacion').val('{{ variable_otro.observacion }}');
										}

										if('{{ variable_otro.valor }}' != '0,0'){
											$('#no{{ variable_otro.variable_id }}').attr('checked', true);
											$('tr.{{variable_otro.variable_id}}').css('color', '#990000');
										}else{
											$('#si{{ variable_otro.variable_id }}').attr('checked', true);
										}
										console.log('add observacion {{ variable_otro.observacion }}');
									});
									</script>
								{% endif %}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		{% endfor%}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">
						<label style="align: right;">
							Marque esta opción para guardar definitivamente <input type="checkbox" name="enviar-mark"><br />
						</label>
						<span style="align: right;">
							<input type="submit" class="btn btn-primary" name="" value="Guardar">
						</span>
						&nbsp;
						<span style="align: right;">
							<input type="reset" class="btn" name="" value="Cancel">
						</span>
					</td>
				</tr>
			</tfoot>
		</form>
		</table>
		<script type="text/javascript">
			$(document).on('ready', function() {
				$('.si').click(function() {
					$(this).attr('checked', true);
					console.log('si: '+$(this).attr('value'));
					console.log('si: '+$(this).attr('checked'));
				});
			});
			</script>
			{% endblock container %}