<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block titulo %}Sistema de Gestión de Riesgo{% endblock titulo%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href='{{ STATIC_URL }}css/bootstrap.min.css'>
        <link rel="stylesheet" href='{{ STATIC_URL }}css/bootstrap-responsive.min.css'>
        <link rel="stylesheet" href='{{ STATIC_URL }}css/main.css'>
        <script src='{{ STATIC_URL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js'></script>
        <script src='{{ STATIC_URL }}js/jquery-1.7.2.js'></script>
        <script src='{{ STATIC_URL }}js/vendor/bootstrap.js'></script>
        <script src='{{ STATIC_URL }}js/vendor/bootstrap.js'></script>
        <script src='{{ STATIC_URL }}js/vendor/bootstrap-dropdown.js'></script>
        <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">
        <style type="text/css">
            .label-info a:link,.label-info a:hover, .label-info a:visited{
                background-color: #3a87ad;
                color: white;
                text-decoration: none;   
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
        {% block navbar %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Gestión de Riesgos</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Inicio</a></li>
                            <li><a href="/documentos">Documentos</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->

                    <div class="nav-collapse ">
                            <ul class="nav pull-right">
                                <li class="dropdown open">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> {{ user.username }}
                                        <ul class="dropdown-menu" rol="menu">
                                            <li>
                                                Editar perfil
                                            </li>
                                        </ul>
                                </li>
                                </a>
                            </ul>
                    </div>

                </div>
            </div>
        </div>
        {% endblock navbar %}
        <header class="jumbotron subhead" id="overview">
            <div class="container">
            </div>
        </header>

        <div class="container">
            <div class="row">
                {% block navleft %}
                <br>
            <br>
            <br>
                <div class="span3 bs-docs-sidebar">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list bs-docs-sidenav affix-top">
                            <li class="nav-header">Menú principal</li>
                            <li><a href="/"><i class="icon-home"></i>Inicio</a></li>
                            <li><a href="/hoja/1"><i class="icon-file"></i>Hoja de control</a></li>
                            <li><a href="/resolucion"><i class="icon-list"></i>PAC</a></li>
                            <li><a href="/informes/1"><i class="icon-print"></i>Informes</a></li>
                            <li><a href="/logout"><i class="icon-remove"></i>Salir</a></li>
                        </ul>
                    </div>
                </div>
                {% endblock navleft %}
                <div class="span9">
            {% block container %}
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>Gestión de Riesgo</h1>
                <p>Información sobre la gestión de riesgo </p>
                <p><a class="btn btn-primary btn-large">Leer más &raquo;</a></p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                    <h2>Factor</h2>
                    <p>se establece como factor el elemento final de análisis que determina el estado o situación de la dependencia objeto.</p>
                    <p><a class="btn" href="#">Ver detalle &raquo;</a></p>
                </div>
                <div class="span4">
                    <h2>Indicador</h2>
                    <p>se utiliza como elemento de medición cuantitativa de variables aplicadas a las muestras obtenidas.</p>
                    <p><a class="btn" href="#">Ver detalle &raquo;</a></p>
               </div>
                <div class="span4">
                    <h2>Variable</h2>
                    <p>es el elemento de medición, aplicado al objeto de análisis; y determinado por el indicador y factor, respectivamente.  </p>
                    <p><a class="btn" href="#">Ver detalle &raquo;</a></p>
                </div>
                {% endblock container %}
            </div>
            </div>
        </div>
            <hr>
            <footer>
                <p style="text-align:center;">
                    Desarrollado por el Centro de Estudios Judiciales<br>
                    <a href="http://www.cej.org.py/">www.cej.org.py</a>
                </p>
            </footer>
        </div> <!-- /container -->
    </body>
</html>