{% extends "base.html" %}
{% block titulo%}Informe de Riesgos{% endblock titulo%}
{% block navbar %}{% endblock navbar%}
{% block navleft %}
<h1>Informe Hoja de Control</h1>
	<div class="span2 bs-docs-sidebar">
		<ul class="nav nav-tabs nav-stacked">
			{% for hoja in hojas%}
				<li><a href=""><span style="font-weight: bold;">Identificador:</span> {{ hoja.id }}</a></li>
				<li><a href=""><span style="font-weight: bold;">Descripción:</span> {{ hoja.descripcion }}</a></li>
				<li><a href=""><span style="font-weight: bold;">Fecha de publicación:</span> {{ hoja.fecha_public }}</a></li>
				<li><a href=""><span style="font-weight: bold;">Circuito:</span> {{ hoja.circuito }}</a></li>
				<li><a href=""><span style="font-weight: bold;">Circunscripción:</span> {{ hoja.circunscripcion }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock navleft %}
{% block container %}
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Variable</th>
				<th>Indicador</th>
				<th colspan="3">Puntaje</th>
			</tr>
		</thead>
		<tbody>
	{% for hoja in hojas%}
		{% for variable in hoja.variables.all %}
			<tr>
				<td>{{ variable.id }}</td>
				<td><span class='variable'>{{ variable.descripcion }}</span></td>
				<td>{{variable.indicador}}</td>
				<td>
					{% for variable_otro in variables.all %}
						
							{% if variable.id == variable_otro.variable_id and hoja.id == variable_otro.hoja_id 	%}
								<span class=''>
									{{ variable_otro.valor }}
								</span>
							{% endif %}
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	{% endfor%}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6">
					{% for hoja in hojas%}
						<span><a href="/imprimir/informe/{{hoja.id}}" target="_blank"><i class="icon-print"></i> Imprimir</a></span>
					{% endfor %}
						<span><a href="/"><i class="icon-home"></i> Ir al Inicio</a></span>
				</td>
			</tr>
		</tfoot>
	</table>
{% endblock container %}