{% extends "base.html" %}
{% block titulo%}Gestión de Riesgos{% endblock titulo%}

{% block container %}

	<h3>Informe de control procesados</h3>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Descripción</th>
				<th>Circuitos</th>
				<th>Circunscripción</th>
				<th>Área</th>
				<th>Fecha de publición</th>
			</tr>
		</thead>
		<tbody>
			{% for hoja in hoja %}
			<tr>
				<td>{{ hoja.id }}</td>
				<td><a href="{{ hoja.id }}">{{hoja.descripcion}}</a></td>
				<td>{{ hoja.circuito }}</td>
				<td>{{ hoja.circunscripcion }}</td>
				<td>{{ hoja.area }}</td>
				<td>{{ hoja.fecha_public }}</td>
			</tr>
			{% empty %}
				<td colspan="6" style='color:red;'>Todavía no se registraron las Encuestas o no estan activas</td>
			{% endfor %}
		</tbody>
	</table>
{% endblock container %}