{% extends "base.html" %}
{% block titulo%}Gestión de Riesgos{% endblock titulo%}

{% block container %}

	<h3>Informe de control procesados</h3>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Descripción</th>
				<th>Circuitos</th>
				<th>Circunscripción</th>
				<th>Área</th>
				<th>Fecha de publición</th>
			</tr>
		</thead>
		<tbody>
			{% for hoja in hoja %}
			<tr>
				<td>{{ hoja.id }}</td>
				<td><a href="/informe/{{ hoja.id }}">{{hoja.descripcion}}</a></td>
				<td>{{ hoja.circuito }}</td>
				<td>{{ hoja.circunscripcion }}</td>
				<td>{{ hoja.area }}</td>
				<td>{{ hoja.fecha_public }}</td>
			</tr>
			{% empty %}
				<td colspan="6" style='color:red;'>Todavía no se registraron las Encuestas o no estan activas</td>
			{% endfor %}
		</tbody>
	</table>
	{% if hoja %}
        <div class="pagination pagination-centered">
            <ul>
                <li>
                	<a href="/informes/1"> ← </a></li>
                {% if hoja.has_previous %}
                    <li><a href="/informes/{{ hoja.previous_page_number }}/"> Anterior </a></li>
                    {% if hoja.has_next %}
                    	<li><a href="/informes/{{ hoja.next_page_number }}/"> Siguiente </a></li>
                    {% endif %}
                {% elif hoja.has_next %}
                    <li><a href="/informes/{{ hoja.next_page_number }}/"> Siguiente </a></li>
                {% endif %}
                <li><a href="/informes/{{ hoja.paginator.num_pages }}"> → </a></li>
            </ul>
        </div>
            <h4 align="center"> Página {{ hoja.number }} de {{ hoja.paginator.num_pages }}</h4>        
    {% endif %}

{% endblock container %}