<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/hoja-informe.css">
</head>    
<body>
    <header id="headerContent">
        <table>
            <tr>
                <td style="text-align:center;">
                    <!--<img src="http://127.0.0.1/static/img/bandera.gif"/>-->
                </td>
                <td style="width:40%; ">
                    <h1 style="text-transform: uppercase; font-family: 'Book Antiqua'; ">
                        <span style="font-size: 11pt; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-style: italic;">
                            REPÚBLICA DEL PARAGUAY
                        </span><br>
                        <span style="font-size: 12pt; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">
                            CORTE SUPREMA DE JUSTICIA
                        </span><br>
                        <span style="font-size: 11pt; font-style: normal; font-family: arial;">
                        Dirección de Contraloría Interna<br>
                        <span style="font-size: 12pt; font-style: normal; font-family: arial;">
                            Deparamente de control de la Gestión Administrativa
                        </span>
                    </h1>
                </td>
                <td style="text-align:center;">
                    <!--<img src="http://127.0.0.1/static/img/Corte-CSJ.gif"/>-->
                </td>
            </tr>
        </table>
        <hr>
    </header>
    <section>
        <table>
                <tr>
                    <td>
                        <strong>Fecha de publicación: </strong>
                        {{ hojas.fecha_public}}
                    </td>
                    <td style="text-align: right;">
                        <strong>Nro.: </strong>
                        {{ hojas.id }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Descripcion: </strong>
                        {{ hojas.descripcion }}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <strong>Área: </strong>
                        {{ hojas.area}}
                    </td>
                    <td style="text-align:right;">
                        <strong>Circunscripción: </strong>
                        {{ hojas.circunscripcion}}
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <strong>Circuitos: </strong>
                        <ul>
                            <blockquote>
                            {% for cir in hojas.circuito.all %}
                                    <li>{{ cir.descripcion }}</li>    
                            {% endfor %}
                            </blockquote>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <strong>PAC: </strong>
                        {{ hojas.pac.numero }} {{ hojas.pac.descripcion }}
                    </td>
                    <td style="text-align:right; vertical-align: top;">
                        <strong>Ejercicio: </strong>
                        {{ hojas.pac.resolucion.ejercicio }}
                    </td>
                </tr>
        </table>    
           
        <table class="table">
        	<thead>
        		<tr>
        			<th style="width:8%">#</th>
        			<th>variable</th>
        			<th>Observación</th>
        			<th style="width:8%">Valor</th>
        		</tr>
        	</thead>
        	<tbody>
        		{% for variable in variables %}
        		<tr>
        			<td class="id">{{ variable.variable_id }}</td>
        			<td class="variable">{{ variable.variable }}</td>
        			<td class="observacion">{{ variable.observacion }}</td>
        			<td class="valor">{{ variable.valor }}</td>
        		</tr>
        		{% endfor %}
        	</tbody>
        	<tfoot>
        		<tr>
        			<td class="tfoot" colspan="4">
        				<p><strong>Puntos de riesgo calificados: </strong>{{ resultado.puntos_otenidos }}</p>
        			</td>
        		</tr>
        		<tr>
        			<td class="tfoot" colspan="4">
        				<p><strong>Puntos de riesgo obtenido: </strong>{{ resultado.puntos_totales }}</p>
        			</td>
        		</tr>
        		<tr>
        			<td class="tfoot" colspan="4">
        				<p><strong>Porcentaje de riesgo: </strong>{{ resultado.porcentje }}</p>
        			</td>
        		</tr>
                <tr style="border:0px;">
                    <td style="border:0px; text-align: right;" colspan="4">
                        <span style="text-align: right;" >
                            <br>
                            {{ hojas.usuario.first_name }} {{ hojas.usuario.last_name }}
                        </span>
                    </td>
                </tr>
        	</tfoot>
        </table>
        
        <p class="{{resultado.nivel}}"><b>Nivel de riesgo: </b>{{resultado.nivel}}</p>
        <table>
            <thead>
                <tr colspan="2">
                    <td>Niveles de</td>
                    <td>Porcentaje</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bajo</td>
                    <td>Medio</td>
                    <td>Alto</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>40</td>
                    <td>60</td>
                </tr>
            </tbody>
        </table>
        </section>
        <div id="footerContent" style="text-align: right;">
               <span>página <pdf:pagenumber></span>
        </div>
</body>
</html>